{
  "extends": [
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "import/no-anonymous-default-export": [
      "off"
    ],
    "eqeqeq": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "internal",
          "builtin"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/no-relative-parent-imports": "error",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
